.login{
    background-color: rgb(70, 144, 241);
    padding: 0.2rem 0.5rem !important;
    border-radius: 10% !important;
    color: white;
    font-size: 2rem !important;
}

.login:hover{
    background-color: rgb(70, 144, 241);
    padding: 0.2rem 0.5rem !important;
    border-radius: 10% !important;
    color: white;
    font-size: 2rem !important;
}
